<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | FAQ</title>
    <link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.css" />
    <script src="js/vendor/jquery-1.11.2.js"></script>
    <script src="css/vendor/jquery-ui.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/leaflet.js"></script>

    <!-- autocomplete style -->
    <style>
      .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
      height: 100px;
      }
    </style>

    <!-- script for autocomplete function -->
    <script>
      $(function() {
      var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      ];
       function split( val ) {
      return val.split( / \s*/ );
      }
      function extractLast( term ) {
      return split( term ).pop();
      }
      $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $( this ).autocomplete( "instance" ).menu.active ) {
      event.preventDefault();
      }
      })
      .autocomplete({
      minLength: 3,
      source: function( request, response ) {
      // delegate back to autocomplete, but extract the last term
      response( $.ui.autocomplete.filter(
      availableTags, extractLast( request.term ) ) );
      },
      focus: function() {
      // prevent value inserted on focus
      return false;
      },
      select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( " " );
      return false;
      }
      });
      });
    </script>
  </head>

  <body>

    <% if (message.length > 0) { %>
      <div data-alert class="alert-box">
        <%= message %>
      <a href="#" class="close">&times;</a>
      </div>
    <% } %>

    <!-- TOP-BAR (fixed)
       everytime you can see this strong navigation tool
       to get you everywhere -->
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>
      <section class="top-bar-section"> 
        <!-- Right Nav Section --> 
        <ul id="numero1" class="right">
          <li class="has-form">
            <form action="/api/v1/simplesearch" method="get" data-abide>
                <div class="row collapse">
                  <div class="small-9 columns ">
                      <div class "search-field">
                        <label> <input type="text" id="tags" placeholder="search term" name="q" required pattern="alpha_numeric"> 
                        </label>
                      </div>
                  </div>
                  <div class="small-3 columns end">
                    <button href="advanced_search.html" class="success radius expand" type="submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
          <!-- LogInModal
               to get logged-in in the community network
               only posible when you have been registed -->
          <li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide action="/login" method="post">
              <div class="email-field">
                <label>E-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
                <small class="error">Please type in a valid e-mail-adress!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
                <small class="error">Please type in your password!</small>
              </div>
              <button id="LogInModal2" class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
          <li class="has-dropdown"> 
            <a href="#">Site Navigation</a> 
            <ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li>
              <!-- only for logged in users -->
              <% if (boolean1) { %>
              <li><a href="/profile/<%= userId %>">Profile</a></li> 
              <% } %>
            </ul> 
          </li> 
        </ul> 
      </section>
    </nav>
    </div>

    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>

    <!-- upper dark gray area -->
    <div class="panel custom">
      <!-- SMALL-UP
           use this to show the page on smaller displays
           for example on mobilephones -->
      <div class="hide-for-large-up" style="padding-left:20px; padding-right:20px">
        <!-- topics with integrated links for a fast navigation on the page -->
        <ul class="small-block-grid-1 medium-block-grid-2">
          <li>
            <h3><font color="white">FAQ</font></h3><br>
            <a href="#sq1"><font color="white">1.1 What is "Start Tour" & how to use it?</font></a><br>
            <a href="#sq2"><font color="white">1.2 How can I deactivate the user-help?</font></a><br>
            <a href="#sq3"><font color="white">1.3 What is the difference between the star-rating and the thumbs-up/thumbs-down-rating?</font></a><br>
            <a href="#sq4"><font color="white">1.4 Can I save my search-requests?</font></a><br>
            <a href="#sq5"><font color="white">1.5 How can I change my personal settings?</font></a><br>
            <a href="#sq6"><font color="white">1.6 How can I contact other users?</font></a><br>
            <a href="#sq7"><font color="white">1.7 How can I get more information and contact CommenTerra?</font></a><br>
          </li>
          <li>
            <h3><font color="white">Tutorials</font></h3><br>
            <a href="#sv1"><font color="white">2.1 How to sign in (video)</font></a><br>
            <a href="#sv2"><font color="white">2.2 How to make a comment (video)</font></a><br>
            <a href="#sv3"><font color="white">2.3 How to search (video)</font></a><br>
          </li>
        </ul>
      </div>

      <!-- LARGE-UP
           use this to show the page when there is a larger display -->
      <div class="show-for-large-up">
        <ul class="large-block-grid-3"> 
          <li>
            <!-- logo -->
            <img id="firstStop" src="img/vektorlogo.svg" width="335" height="335" style="padding-left:40px">
          </li>
          <!-- topics with integrated links for a fast navigation on the page -->
          <li>
            <h3><font color="white">FAQ</font></h3><br>
            <a href="#q1"><font color="white">1.1 What is "Start Tour" and how do I use it?</font></a><br>
            <a href="#q2"><font color="white">1.2 How can I deactivate the tip for the user-help?</font></a><br>
            <a href="#q3"><font color="white">1.3 What is the difference between the star-rating and the thumbs-up-/thumbs-down-rating?</font></a><br>
            <a href="#q4"><font color="white">1.4 Can I save my search-configuration?</font></a><br>
            <a href="#q5"><font color="white">1.5 How can I change my personal settings?</font></a><br>
            <a href="#q6"><font color="white">1.6 How can I contact other users?</font></a><br>
            <a href="#q7"><font color="white">1.7 How can I get more information about and contact CommenTerra?</font></a><br>
          </li>
          <li>
            <h3><font color="white">Tutorials</font></h3><br>
            <a href="#v1"><font color="white">2.1 How to sign in (video)</font></a><br>
            <a href="#v2"><font color="white">2.2 How to make a comment (video)</font></a><br>
            <a href="#v3"><font color="white">2.3 How to search (video)</font></a><br>
          </li>
        </ul>
      </div>
    </div>

    <!-- lower bright gray area -->
    <div class="panel custom2">

      <!-- LARGE-UP
           use this to show the page when there is a larger display -->
      <div class="show-for-large-up" style="padding-left:200px; padding-right:200px">
        <!-- the FAQ ordert bei numbers -->
        <br>
      <h3><a name="q1"><font color="#424242"> 1. FAQ </font></a></h3>
        <br>
      <p><b>1.1 What is "Start Tour" and how do I use it? </b></p>
      <ul>
        <li><a name="q2"><font color="#424242">"Start Tour" is a joyride, better - a guided tour, that explains the main features of our main sites and how to use them. It can be activated through the "Site Navigation"</front></a></li>
      </ul><br>
      <p><b>1.2 How can I deactivate the tip for the user-help? </b></p>
      <ul>
        <li><a name="q3"><font color="#424242">Simply check the "Don't show me this again"-box when the tip pops up.</front></a></li>
      </ul><br>
      <p><b>1.3 What is the difference between the star-rating and the thumbs-up-/thumbs-down-rating? </b></p>
      <ul>
        <li><a name="q4"><font color="#424242">With the star-rating you are able to rate a specific geodataset on a scale from zero to five stars. Withthe star-rating you are able to emphasize your comment on that geodataset. The thumbs-up-/thumbs-down-rating however is used to directly rate a comment on a geodataset, and on that way indirectly rate the user, who has made this comment. When you get a good amount of thumbs-up-ratings you can become an expert in our community.</front></a></li>
      </ul><br>
      <p><b>1.4 Can I save my search-configuration? </b></p>
      <ul>
        <li><a name="q5"><font color="#424242">Yes. You can save a permalink of your search-configuration by clicking on the "Save This Search"-button. You can reuse this link later on.</front></a></li>
      </ul><br>
      <p><b>1.5 How can I change my personal settings? </b></p>
      <ul>
        <li><a name="q6"><font color="#424242">Logged in users have the possibillity to change their personal settings over the "Profile Settings"-button in the "Site Navigation". The settings are only available if you are currently browsing on your own profile page.</front></a></li>
      </ul><br>
      <p><b>1.6 How can I contact other users? </b></p>
      <ul>
        <li><a name="q7"><font color="#424242">If you are logged in and part of our community, logged in users have the ability to share their e-mail address with you. We are currently working on an inbox-messaging-system for our little project, so stay tuned.</front></a></li>
      </ul><br>
      <p><b>1.7 How can I get more information about and contact CommenTerra? </b></p>
      <ul>
        <li>Simply click on the "About CommenTerra"-button in the footer on the bottom of the page. The footer is accessable from every page of our application.</li>
      </ul><br>
      <br><br>
       <h2><a name="v1"><font color="#424242"> 2. Tutorials </font></a></h2><br>
        <!-- how to navigate on the pages -->
        <p><b>2.1 How to sign in: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/Esi9RUWWtks"></object>
        </div>
        <p><a name="v2" style="visibility: hidden">abstand</a></p><br>   
        <!-- create new comment
             only for registrated users -->
        <p><b>2.2 How to make a comment: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/7eqAL3iuzy0"></object>
        </div>
        <p><a name="v3" style="visibility: hidden">abstand</a></p><br>
        <!-- how to set up a search -->
        <p><b>2.3 How to search: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/fDodP2QGOZE"></object>
        </div><br>
      </div>

      <!-- SMALL-UP
           use this to show the page on smaller displays
           for example on mobilephones -->      
      <div class="hide-for-large-up" style="padding-left:20px; padding-right:20px">
          <br>
        <!-- the FAQ ordert bei numbers -->
      <h3><a name="sq1"><font color="#424242"> 1. FAQ </font></a></h3>
        <br>
      <p><b>1.1 What is "Start Tour" and how do I use it? </b></p>
      <ul>
        <li><a name="sq2"><font color="#424242">"Start Tour" is a joyride, better - a guided tour, that explains the main features of our main sites and how to use them. It can be activated through the "Site Navigation"</front></a></li>
      </ul><br>
      <p><b>1.2 How can I deactivate the tip for the user-help? </b></p>
      <ul>
        <li><a name="sq3"><font color="#424242">Simply check the "Don't show me this again"-box when the tip pops up.</front></a></li>
      </ul><br>
      <p><b>1.3 What is the difference between the star-rating and the thumbs-up-/thumbs-down-rating? </b></p>
      <ul>
        <li><a name="sq4"><font color="#424242">With the star-rating you are able to rate a specific geodataset on a scale from zero to five stars. Withthe star-rating you are able to emphasize your comment on that geodataset. The thumbs-up-/thumbs-down-rating however is used to directly rate a comment on a geodataset, and on that way indirectly rate the user, who has made this comment. When you get a good amount of thumbs-up-ratings you can become an expert in our community.</front></a></li>
      </ul><br>
      <p><b>1.4 Can I save my search-configuration? </b></p>
      <ul>
        <li><a name="sq5"><font color="#424242">Yes. You can save a permalink of your search-configuration by clicking on the "Save This Search"-button. You can reuse this link later on.</front></a></li>
      </ul><br>
      <p><b>1.5 How can I change my personal settings? </b></p>
      <ul>
        <li><a name="sq6"><font color="#424242">Logged in users have the possibillity to change their personal settings over the "Profile Settings"-button in the "Site Navigation". The settings are only available if you are currently browsing on your own profile page.</front></a></li>
      </ul><br>
      <p><b>1.6 How can I contact other users? </b></p>
      <ul>
        <li><a name="sq7"><font color="#424242">If you are logged in and part of our community, logged in users have the ability to share their e-mail address with you. We are currently working on an inbox-messaging-system for our little project, so stay tuned./front></a></li>
      </ul><br>
      <p><b>1.7 How can I get more information about and contact CommenTerra? </b></p>
      <ul>
        <li>Simply click on the "About CommenTerra"-button in the footer on the bottom of the page. The footer is accessable from every page of our application.</li>
      </ul><br>
      <br><br>
       <h2><a name="sv1"><font color="#424242"> 2. Tutorials </font></a></h2><br>
        <!-- how to navigate on the pages -->
        <p><b>2.1 How to sign in: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/Esi9RUWWtks"></object>
        </div>
        <p><a name="sv2" style="visibility: hidden">abstand</a></p><br>   
        <!-- create new comment
             only for registrated users -->
        <p><b>2.2 How to make a comment: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/7eqAL3iuzy0"></object>
        </div>
        <p><a name="sv3" style="visibility: hidden">abstand</a></p><br>
        <!-- how to set up a search -->
        <p><b>2.3 How to search: </b></p>
        <div class="flex-video"> 
          <object width="420" height="315" data="https://www.youtube.com/v/fDodP2QGOZE"></object>
        </div><br>
      </div>
  </div>

    <div class="panel custom4" style="width: 100%; height: 2px"></div>

    <!-- FOOTER
         on every page to get more informations -->
    <div id="footer">
      || <a href="/about"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="/faq"><font color="#424242">FAQ / Help</font></a> ||
    </div>

    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>
