<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | New Comment</title>
    <link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <!--fixed top-bar-->
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
        <!--remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone--> 
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>
      <section class="top-bar-section"> 
        <!--right nav section--> 
        <ul id="numero1" class="right">
          <li class="has-form">
            <form action="/api/v1" method="post" data-abide>
                <div class="row collapse">
				  <!--seperate this area in 9 areas-->
                  <div class="small-9 columns ">
                      <div class "search-field">
						<!--search for keyword field with an autocomplete function-->
                        <label> <input type="text" id="keyword" placeholder="search for keyword" name="q"> </label>
                        <!-- small class="error">The Keyword must be alpha-numeric with at least 3 characters!</small-->
                      </div>
                  </div>
				  <!--override the count that adds up to 12 columns-->
                  <div class="small-3 columns end">
                    <button class="success radius expand" type="submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
		  <!--Log-In modal-->
          <li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide>
              <div class="email-field">
                <label>E-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
				<!--exception: invalid e-mail-->
                <small class="error">Please type in a valid e-mail-address!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
				<!--exception: no password-->
                <small class="error">Please type in your password!</small>
              </div>
              <button class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
		  <!--Site Navigation with links to "New Comment", "Advanced Search" and "Help / FAQ"-->
          <li class="has-dropdown"> 
            <a href="#">Site Navigation</a> 
            <ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li>
              <li><a href="/faq">Help / FAQ</a></li> 
			  <!--for the logged user is a further link to the personal "Profile" site-->
              <% if (boolean1) { %>
              <li><a href="/myprofile">Profile</a></li> 
              <% } %>
            </ul> 
          </li> 
        </ul> 
      </section>
    </nav>
    </div>

    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>

    <!--dark grey area-->
    <form action=<%= addAction %> method="post">
    <div class="panel custom">
		<!--segmenting this area in two areas-->
		<ul class="small-block-grid-2" data-equalizer>
			<li>
			  <font color="white" size="4">URL:</font>
			  <input type="text" name="url" id="firstStop" placeholder="URL..." value="<%= urlValue %>" readonly="readonly"/>
			  <% if (readonly) { %>
				  <script>
				  jQuery("#firstStop").prop('readonly', true);
				  </script>
			  <% } else { %> 
				  <script>
				  jQuery("#firstStop").prop('readonly', false);
				  </script>
			  <%} %>

			  <!--will be shown on on small and medium screens-->
			  <strong class="show-for-large-up">
				<button class="tiny radius expand" id="#" type="#" onclick="document.getElementById('urlResult').innerHTML = document.getElementById('firstStop').value">
				  <font color="#424242">Validate URL</font>
				</button>
			  </strong>
			  <!--will be shown on large screens-->
			  <strong class="hide-for-large-up">
				<button class="tiny radius expand" id="#" type="#" onclick="document.getElementById('urlResult1').innerHTML = document.getElementById('firtStop').value">
				  <font color="#424242">Validate URL</font>
				</button>
			  </strong>
			</li>
			<li>
				<!--shows the response of the URL-->
				<font color="white" size="4">Response:</font>
				<textarea id="numero5" disabled="disabled" rows="4"></textarea>
			</li>
		</ul>
    </div>

    <!--light grey area-->
    <div class="panel custom2">
	<!--will be shown on large screens-->
      <strong class="show-for-large-up">
	  <!--segmenting this area in two areas-->
        <ul class="small-block-grid-2" data-equalizer>
          <li>
            <div class="panel custom" data-equalizer-watch>
              <div class="panel custom2">
				<!--Comment area-->
                <div id="panel5b" class="content">
                  <font color="#424242" size="4">Title:</font>
                  <input id="numero2" type="text" name="title" id="title" placeholder="Title..." />
                  <p></p>
                  <font color="#424242" size="4">URL:<p></p>
                    <p id="urlResult">
                      Your URL will be shown here after you validate it!
                    </p>
                  </font>
                  </a>
                  <p></p>
				  <!--segmenting this area in two areas-->
                  <ul class="small-block-grid-2">
                    <li>
					  <!--five star rating-->
                      <font color="#424242" size="4">Rating (optional):</font><br>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                    </li>
                    <li>
						<font color="#424242" size="4">Date:</font><br>
						<!--return the current date-->
						<script type="text/javascript" color="424242">
							<!--pick up the current date and return it in the form MM/DD/YYYY-->
							var date = new Date();
							document.write((date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear());
						</script>
					</li>
                  </ul>
                  <p></p>
                  <font color="#424242" size="4">Comment:</font>
                  <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                      <textarea style="height:185px;resize:none;" name="text" id="message" placeholder="Comment..."></textarea>
                    </dd>
                  </dl>
				  <!--return the name of the logged user or the anonyme unlogged user-->
                  <!--a href=""><font color="#2ba6cb">anonyme</font></a-->
                  <p></p>
				  <!--segmenting this area in two areas-->
				  <ul class="small-block-grid-2">
					<li>
						<button id="numero3" class="success tiny radius expand" type=""submit>
							Bounding Box
						</button>
					</li>
					<li>
						<button class="success tiny radius expand" data-reveal-id="confirmModal">
						  Save
						</button>
						<!--pop up to confirm the submission-->
						<div id="confirmModal" class="reveal-modal" data-reveal>
						  <p class="lead">Are you sure to publish your comment?</p>
						  <button class="success tiny radius expand" type="submit" data-reveal-id="confirmModal">
						    Save
						  </button>
						  <button class="success tiny radius expand" type="delete" data-reveal-id="confirmModal">
						    Go Back
						  </button>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
					</li>
				  </ul>
                </div>
              </div>
            </div>
          </li>
        </form>
          <li>
            <div class="panel custom" data-equalizer-watch>
              <!--Map-->
              <div id="numero5">
              <div class="map" id="map1" style="width: 100%; height: 600px; border-radius: 3px"></div>
              </div>
            </div>
          </li>
        </ul>
      </strong>
	  <!--will be shown for small and medium screens-->
      <strong class="hide-for-large-up">
        <div class="panel custom">
		  <!--tabs for the comment and for the map-->
          <dl class="tabs" data-tab>
            <dd><a href="#panel1">View Comments</a></dd>
            <dd class="content active"><a href="#panel2">View Map</a></dd>
          </dl>

          <div class="tabs-content">

            <div class="content" id="panel1">
              <!--Comment-->
              <div class="panel custom2">
                <div id="panel5b" class="content">
                  <font color="#424242" size="4">Title:</font>
                  <input type="text" name="title" id="title" placeholder="Title..." />
                  <p></p>
                  <font color="#424242" size="4">URL:</font><br>
                  <p id="urlResult1">
                      Your URL will be shown here after you validate it!
                  </p>
                  <p></p>
                    <font color="#424242" size="4">Rating:</font><br>
                    <!--five star rating-->
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                    <p></p>
                    <font color="#424242" size="4">Date:</font><br>
                    <script type="text/javascript">
						        // pick up the current date and return it in the form MM/DD/YYYY
						var date = new Date();
						document.write((date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear());
					</script>
                  <p></p>
                  <font color="#424242" size="4">Comment:</font>
                  <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                      <textarea style="height:185px;resize:none;" name="text" id="message" placeholder="Comment..."></textarea>
                    </dd>
                  </dl>
				  <!--return the name of the logged user or the anonyme unlogged user-->
                  <a href=""><font color="#2ba6cb">anonyme</font></a>
                  <button class="tiny radius expand" type="submit" data-reveal-id="confirmModal">
			<font color="#424242">Save</font>
		</button>
		<!--pop up to confirm the submission-->
		<div id="confirmModal" class="reveal-modal" data-reveal>
			<p class="lead">Are you sure to publish your comment?</p>
			<button class="tiny radius expand" type="submit" data-reveal-id="confirmModal">
				<font color="#424242">Save</font>
			</button>
			<button class="tiny radius expand" type="delete" data-reveal-id="confirmModal">
				<font color="#424242">Go Back</font>
			</button>
			<a class="close-reveal-modal">&#215;</a>
		</div>
                <p></p>
                </div>
              </div>
            </div>

            <div class="content active" id="panel2">
              <!--Map-->
              <div class="map" id="map" style="width: 100%; height: 750px"></div>
            </div>
          </div>
          <script>              
                if (matchMedia('only screen and (max-width: 64em)').matches) {
                //Map for small screens
                var map = L.map('map');
		
		//load and display tile layers on the map
                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  maxZoom: 20,
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map);

		//shows the location of the device
                function onLocationFound(e) {
                  var radius = e.accuracy / 2;
		  
                  L.marker(e.latlng).addTo(map)
                  .bindPopup("You are within " + radius + " meters from this point").openPopup();

                  L.circle(e.latlng, radius, {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map);
                }

		//if the location can't retrieve it will be centerd on this point
                function onLocationError(e) {
                  map.setView([51.96935, 7.59588], 13);
                  alert(e.message);
                }

                map.on('locationfound', onLocationFound);
                map.on('locationerror', map.setView([51.96935, 7.59588], 13), onLocationError);

                map.locate({setView: true, maxZoom: 13});

                var popup = L.popup();

                function onMapClick(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map);
                }

                map.on('click', onMapClick);
              }

              if (matchMedia('only screen and (min-width: 64.063em)').matches) {
                //Map for medium screens
                var map1 = L.map('map1');
                //var map1 = L.map('map1').setView([51.96935, 7.59588], 13);

		//load and display tile layers on the map
                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  maxZoom: 20,
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map1);

                function onLocationFound1(e) {
                  var radius1 = e.accuracy / 2;

                  L.marker(e.latlng).addTo(map1)
                  .bindPopup("You are within " + radius1 + " meters from this point").openPopup();

                  L.circle(e.latlng, radius1, {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map1);
                }

		//shows the location of the device
                function onLocationError1(e) {
                  alert(e.message);
                }

                map1.on('locationfound', onLocationFound1);
                map1.on('locationerror', map1.setView([51.96935, 7.59588], 13), onLocationError1);

                map1.locate({setView: true, maxZoom: 16});

                function onMapClick1(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map1);
                }

                map1.on('click', onMapClick1);

              }

           </script>
        </div>
      </strong>      
    </div>


    <!-- FOOTER
         on every page to get more informations -->
    <div class="panel custom4" style="width: 100%; height: 2px"></div>
    <div id="footer">
      || <a href="about.html"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="faq.html"><font color="#424242">FAQ / Help</font></a> ||
    </div>

	<!--joyride: Tour to get a first impression of this site-->
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
        <p>At first you have to validate your URL. When this process was successfull you can create your Comment. On the right site you will see the Geo-Dataset from your URL.</p>
      </li>
	  <li data-id="numero2" data-text="Next" data-prev-text="Prev" data-options="tip_location:top; prev_button:false">
		<p>Here you are able to write a title of your comment</p>
	  </li>
	  <li data-id="numero3" data-text="Next" data-prev-text="Prev" data-options="tip_location:top; prev_button:false">
		<p>Here you can define a Bounding Box in the map of the right site</p>
	  </li>
	  <li data-id="numero4" data-text="Next" data-prev-text="Prev" data-options="tip_location:top; prev_button:false">
		<p>Save yout comment and attain automatically to the "CommenTerra | Home" site</p>
	  </li>
	  <li data-id="numero5" data-text="End" data-prev-text="Prev" data-options="tip_location: top">
	    <p>Here you can see the Response from your URL</p>
	  </li>
    </ol>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>

    <script>
      $(document).foundation();
      if (matchMedia('only screen and (min-width: 64.063em)').matches) {
        $(document).foundation('joyride', 'start');
      }
      
    </script>

    
  </body>
</html>
